body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: linear-gradient(
    120deg,
    #647860 25%,
    #e8e2c1 25%,
    #e8e2c1 50%,
    #647860 50%,
    #647860 75%,
    #e8e2c1 75%,
    #e8e2c1 100%
  );
  background-size: 2800px 2500px;
}

p {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
